/*------[ alt-style-2 ]------*/

body {
	background:#333;
	}

#outer-wrap {
	border:10px solid #bbb;
	}


h1,h2,h3,h4,h5,h6,h7,
#sitetitle .title {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	}

h2.feature-title, 
h3.widgettitle, 
h2.feat-title {
	font-size:18px;
	}

#topnav {
	background:#f5f5f5;
	border:0;
	}

#topnav ul li.searchform {
	padding-right:4px;
	padding-left:4px;
	}

#topnav ul a  {
	color:#333; 
	}

#topnav ul a:hover { 
	color:#000;
	}

#topnav ul ul  { 
	border-color:#fff;
	}

#topnav ul ul ul  { 
	border-color:#fff;
	}

#catnav {
	background:#000;
	border-bottom:0;
	}

#catnav ul a  {
	color:#ccc;
	}

#catnav ul a:hover {
	color:#fff;
	}

#catnav ul ul  { 
	border-color: #fff;
	}

#catnav ul ul a  {
	width:180px; 
	line-height:20px;
	border-color: #fff;
	border-top:0;
	background:#000;
	}

.widget {
	background: #f5f5f5;
	padding:15px;
	border:1px solid #e5e5e5;
	}

.widget.videoslide {
	background: transparent;
	padding:0;
	border:0;
	}

.widget.sidetabs {
	background: #f5f5f5;
	padding:5px;
	border:1px solid #e5e5e5;
	}

.widget.sidetabs ul.tabs {  
	margin: 0 0 5px;
	background: transparent;
	}

.widget.sidetabs ul.tabs li.ui-tabs-selected a,
.widget.sidetabs ul.tabs li.ui-tabs-selected a:link,
.widget.sidetabs ul.tabs li.ui-tabs-selected a:visited {
	background:#000;
	color:#fff;
	}

.widget.sidetabs .cat_content {
	padding:0;
	}

#sidebar-bottom .widget,
#sidebar-narrow .widget,
#footer-widgets .widget,
#alt-home-bottom .widget {
	background: transparent;
	padding:0;
	border:0;
	}

#footer {
	background:#000;
	border:0;
	padding: 20px;
	color:#ccc;
	}

#footnav ul a,
#footnav ul a:link,
#footnav ul a:visited  {
	color:#ccc;
	}

#footnav ul a:hover,
#footnav ul a:active {
	color:#fff;
	}

.banner125 {
	padding:0;
	}

@media only screen and (max-width: 480px) {
	#outer-wrap {
		max-width:86%;
		width:86%;
		padding:3%;
		margin:0 auto;
	}
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
	#outer-wrap {
		max-width:88%;
		width:88%;
		padding:3%;
		margin:0 auto;
	}
}

@media only screen and (min-width: 769px) and (max-width: 960px) {
	#outer-wrap {
		max-width:88%;
		width:88%;
		padding:3%;
		margin:0 auto;
	}
}

@media only screen and (min-width: 961px) and (max-width: 1060px) {
	#outer-wrap {
		max-width:88%;
		width:88%;
		padding:3%;
		margin:0 auto;
	}
}
















